<?xml version="1.0"?>
<!--
/**
 *
* Copyright © Magento. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Model\Product">
        <plugin name="OnSale" type="Hummingbird\US2\Plugin\Plugin1" />
    </type>
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="footerPlugin" type="Hummingbird\US2\Plugin\changefooter"/>
    </type>
    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="headerPlugin" type="Hummingbird\US2\Plugin\changeheader"/>
    </type>
   <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="breadcrumb" type="Hummingbird\US2\Plugin\breadcrumb"/>
   </type>
</config>
