<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hummingbird_US9::custom_menu" title="Custom Menu" module="Hummingbird_US9" resource="US9_Tab::tab_config" sortOrder="90"/>
        <add id="Hummingbird_US9::custom_config" title="Configuration" translate="title" module="Hummingbird_US9" parent="Hummingbird_US9::custom_menu"
             resource="US9_Tab::tab_config_link" sortOrder="10" dependsOnModule="Hummingbird_US9" action="admin/system_config/edit/section/US9_tab"/>
    </menu>
</config>